body {
    background-color: gray;
}
h1 {
    color: rgb(189, 30, 30);
    text-align: center;
}
p {
    font-size: 18px;
    text-align: center;
    color: white;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(189, 30, 30);
    color: white;
    border-color: brown;
    border-radius: 5px;
    cursor: pointer;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(189, 30, 30);
    color: white;
    border-color: brown;
    border-radius: 5px;
    cursor: pointer;
}